body{
background: linear-gradient(120deg,#2980b9,#8e44ad);
}
h2{
    text-align: center;
    font-size: 40px;
    font-family:serif;
}
.box{
    position:absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10%;
}
.box label{
    margin: 50px;
    font-size: 20px;
    font-family: serif;
}
.box input[type=email]{
    width: 250px;
    padding: 10px;
    margin-left: 130px;
}
.box i{
position: absolute;
font-size: 25px;
color: gray;
margin: -50px 0 0 370px;
}
.box input[type=password]{

    width: 250px;
    padding: 10px;
    margin-left: 130px;
}
.box input{
    margin-left: 150px;
}
.box button{
    margin-left: 150px;
    width: 250px;
    padding: 10px;
   background-color: rgba(0, 0, 250,0.6);
   color: #fff;
}
.box a{

    margin-left: 230px;
}